<div class = "container">
<div class = "row">
  	<div class = "span6">
  	<br></br>
  	<br></br>
  	<br></br>
  	<br></br>
  	<br></br>
  	<h1>めぐねえRSS</h1>
  	<br></br>
  	<img class = "img-responsive" src = '/images/image.png' width = "500" height = "500">
  	</div>
  	<div class = "span6">
  	<div class = "popover right show" style= "position:relative; max-width:100%;">
  		<div class="arrow"></div>
  			<div class= "popover-content">
  			<ul>
				<% @rss.items.each do |entry| %>
					<li><a href = "<%= entry.link %>"><%= entry.title %></a></li>
				<% end %>
			</ul>
			</div>
	</div>
 </div>
</div>
